
<body>
    <%-include('layouts/spinner')%>


    <!-- Topbar Start -->
    <%-include('layouts/topbar')%>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <%-include('layouts/navbar')%>
    <!-- Navbar End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
                <h1>Our Experience Doctors</h1>
            </div>
            <div class="row g-4">
                <% team.forEach((member, index) => { %>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="<%= (index % 4) * 0.2 + 0.1 %>s">
                        <div class="team-item position-relative rounded overflow-hidden">
                            <div class="overflow-hidden">
                                <img class="img-fluid" src=<%= member.image %> alt="">
                            </div>
                            <div class="team-text bg-light text-center p-4">
                                <h5><%= member.name %></h5>
                                <p class="text-primary"><%= member.department %></p>
                                <div class="team-social text-center">
                                    <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>    
                <% }) %>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Footer Start -->
    <%-include("layouts/footer")%>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

</body>

</html>